$colors-green: #8CB369;
$colors-yellow: #F4E285;
$colors-orange: #F4A259;
$colors-dark-green: #5B8E7D;
$colors-red: #F45C54;

$font-family-base: 'source-code-pro', Menlo, monospace;
$font-family-headings: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$font-size-base: 16px;
