$colors-blue: #0088EE;
$colors-green: #00BB77;
$colors-orange: #F4A259;
$colors-red: #F45C54;

$font-family-base: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$font-family-headings: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$font-size-base: 16px;
