.resultList {
	padding: 0;

	& > * {
		margin-bottom: 10px;
	}
}

.filterButton {
  margin-right: 10px;
	opacity: 0.90;
}

.flex {
  margin-top: 15px;
}

.flexSort {
  margin-top: 15px;
}
.count {
  font-size: 28px;
}

.sortButton {
  margin-left: 10px
}
