body {
  position: relative;
  height: 100vh;
  font-family: Monaco, monospace;
}

h2 {
  margin: 0;
  font-size: 2.5rem;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
