@import 'components/variables';

* {
  box-sizing: border-box;
}

body {
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: 1.5;
  background: #DDD;
  color: #555;
}

h1, h2, h3 {
  font-family: $font-family-headings;
}

h1 {
  margin: 0 0 15px;
  font-size: 2.5rem;
}

h2 {
  margin: 0;
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}
